<div class="container">
    <div class="heading">
        <a class="btn btn_success" href="/">Home</a>
    </div>
    <div class="form">
        <div class="side_img">
            <!-- https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.schemecolor.com%2Fsimple-pink-color-scheme.php&psig=AOvVaw1lsexqycrOfAXGm48kyhBd&ust=1706270304644000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCIDCmb2--IMDFQAAAAAdAAAAABAY -->


        </div>
        <div class="form_container">
            <form action="/article" method="post">
                <input type="text" name="title" placeholder="Title.....">
                <textarea name="des" id="" cols="30" rows="10" placeholder="Your Post..."></textarea>
                <textarea name="info" id="" cols="30" rows="10" placeholder="More info..."></textarea>
                <button class="btn btn-info" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>